// VARIABLES

$background-color: #080A0F;
$grey-color: #989898;
$phone-input-color: #CECECE;
$button-gradient: linear-gradient(to bottom, #E56A41, #E79D4D);
$contrast-color: #F67741;
$filter-gradient: linear-gradient(to bottom, transparent, #0C0F14);

body {
  margin: 0;
  font-size: 16px;
  color: #fff;
  background: $background-color;
}

h2, h3, .btn, p, a, input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

main {
  background: url('assets/images/image_BG.png');
  width: 100%;
  height: 100%;
}

.header {
  padding-top: 2em;
  padding-left: 2.5em;
}

.slides--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slides {
  width: 84%;
  display: inline-block;
  margin: 3em 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.slides--inner {
  display: inline-block;
  overflow: hidden;
  width: 400%;
  position: relative;
  transition: all ease-in-out .2s;
}

.slide {
  width: 25%;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  align-content: center;
  div{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
  }
  div:first-child {
    padding-right: 1em;
    text-align: right;
    width: 50%;
  }
  div:last-child {
    padding-left: 1em;
    text-align: center;
    width: 50%;
    img {
      width: 50%;
    }
  }
  &:nth-child(2n+1){
    div:last-child {
      img {
        width: 100%;
      }
    }
  }
}

.slide--left-text {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 2em;
}

i {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: $contrast-color;
}

.footer--phone__form {
  width: 25em;
  margin: 0 auto;
  display: flex;
  input:first-child {
    width: 80%;
  }
  input:last-child {
    width: 20%;
  }
}

.footer--phone__text {
  margin-top: 0;
  width: 17em;
  text-align: left;
  font-size: 1.5em;
}

.annotation_grey {
  text-align: left;
  color: $grey-color;
  font-size: .7em;
  margin-top: .5em;
}

.btn {
  color: #fff;
  background: $button-gradient;
  -webkit-border-radius: .5em;
          border-radius: .5em;
  padding: 1em 1.5em;
  cursor: pointer;
}

.phone-section {
  h2 {
    font-weight: 700;
  }
}

.footer--links {
  a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin: .7em 0;
  }
}

.download__title {
  text-align: center;
  margin: 5em 0 4em 0;
}

.download--blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.download--block a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.link__img {
  vertical-align: middle;
  margin-right: 0.9em;
  width: 2em;
}

.link__get {
  font-size: .8em;
  margin: 0;
}

.link__where {
  font-size: 1.4em;
  margin: 0;
}

.link__text {
  margin: .9em 0;
}

.link--description {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.link {  
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: .3em;
  padding: .7em 1.2em; 
}

footer {
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  margin: 8em 0;
  div {
    width: 50%;
    padding: 0 10%;
    box-sizing: border-box;
  }
  div:first-child {
    text-align: center;
  }
  div:last-child {
    text-align: right;
    display: flex;
    flex-direction: column;
  }
}

.btn-phone {
  border: none;
}

.form__phone {
  margin-right: -1em;
  border-radius: .5em;
  border: none;
  background: $phone-input-color;
  padding-left: 1.5em;
}

.blocks--title {
  text-align: center;
}

a.link-inactive {
  border-color: $grey-color;
  color: $grey-color;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
  .footer--phone__form {
    input:first-child {
      width: 55%;
    }
    input:last-child {
      width: 45%;
    }
  }
}